*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
}

header {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    background-color:#519eb6;
    padding: 10px;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}
.imagem1 {
    display: flex;
    align-items: center;
    height: 90px;
    margin-right: 0px;
    margin-left: 100px;
}

.imagem2 {
    display: flex;
    align-items: center;
    height: 500px;
    margin-right: 65px;
    margin-left: 0px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    color: rgb(40, 50, 51);
}

main {
    font-size: 20px;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

.box{
    top: 230%;
    left: 60%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 15px;
    width: 30%;
    color: aliceblue;
 }
 fieldset{
     border: 3px solid dodgerblue;
 }
 legend{
     border: 1px solid dodgerblue;
     padding: 10px;
     text-align: center;
     background-color: dodgerblue;
     border-radius: 8px;
 }
 .inputbox{
     position: relative;
 }
 .inputuser{
     background: none;
     border: none;
     border-bottom: 1px solid white;
     outline: none;
     font-size: 15px;
     width: 100%;
     letter-spacing: 2px;
     color: aliceblue;
 }
 .label-input{
     position: absolute;
     top: 0px;
     left: 0px;
     pointer-events: none;
     transition: .5s;
 }
 .inputuser:focus ~ .label-input,
 .inputuser:valid ~.label-input{
     top: -20px;
     font-size: 12px;
     color: dodgerblue;
 }
 #data-nasci{
     border: none;
     padding: 8px;
     border-radius: 10px;
     outline: none;
     font-size: 15px;
 }
 #submit{
     background-color:rgba(29, 108, 187, 0.579);
     width: 100%;
     border: none;
     padding: 15px;
     color: aliceblue;
     border-radius: 10px;
     font-size: 15px;
     cursor: pointer;
 }
 #submit:hover{
     background-color: rgb(84, 90, 137);
 }
 .botao-voltar-login{
     background-color:rgba(29, 108, 187, 0.579);
     width: 100%;
     border: none;
     padding: 15px;
     color: aliceblue;
     border-radius: 10px;
     font-size: 15px;
 }
 .botao-voltar-login:hover{
     background-color: rgb(84, 90, 137);
 }
 main {
     font-size: 20px;
     max-width: 800px;
     margin: 20px auto;
     padding: 20px;
 }
 
 footer {
    border-top: 1px;
    position: relative;
    background-color: #519eb6;
    color: #fff;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 40px;
    left: 0;
    padding: 10px;
 }

 .info, .infolist{
    position: absolute;
    top: 230%;
    left: 10%;
    padding: 15px;
    border-radius: 15px;
    width: 30%;
 }
